 <style>
      
  /* html { 
  background: url(/assets/img/komodotransparent.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-color: #121212;
}*/
body {
  background: url(/assets/img/komodotransparent.png) no-repeat center center fixed;
font-family: Monospace;
background-color: #121212;
color: #1c9a54;

}
.footer {
  font-family: Monospace;
  position: fixed;
  left: 400px;
  bottom: 5px;
  width: 50%;
  margin: 5px;
  background-color: #1c9a54;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  
}
img {
  width: 50px;
  height: 50px;
  transition: 0.2s; 
  padding: 5px;
}

img:hover {
  width: 60px;
  height: 60px;
  transition: 0.2s; 
}
      
h1 {
text-align: center;
  font-size: 3.5vw;
  position: relative;
  width: max-content; 
  font-weight: normal;
}
h1:before, h1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
h1::before {
  background-color: #121212;
  animation: write 2.5s steps(25) 0.5s forwards; /* Number of steps */
  width: 100%;
}
h1::after {
  opacity: 1;
  width: 0.15em; 
  background: black;
  animation: write 2.5s steps(25) 0.5s forwards, blink 0.75s steps(2) infinite;
}
p {
  font-size: 2.3vw;
  opacity: 0.4;
color: #1c9a54;
}
.bold {
  font-weight: 600;
}
@keyframes write {
  to {
    left: 100%;
  }
  
}
@keyframes blink {
  0% {
    opacity: 0;
  } 
  49.9% {
     opacity: 0;
  }
  50% {
     opacity: 1;
  }
  100% {
     opacity: 1;
  }
}

a:link {
  color: #29e07b;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #28d777;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #7bf4b2;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #2bd477;
  background-color: transparent;
  text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}

.button {
  border-radius: 12px;
  font-family: Monospace;
  background-color: #2d7c2f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#github-logo {
font-size: 40px;
font-weight: normal;
}

#discord-logo {
font-size: 40px;
font-weight: normal;
}
</style>